@import "styles.css";
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


body > #container {
    background: url(https://cdn.britannica.com/50/80550-050-5D392AC7/Scoops-kinds-ice-cream.jpg);
    background-color: lightpink;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-family: 'Nosifer', cursive;
    letter-spacing: 1px;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2.5rem;
}

h2  {
    font-family: 'League Script', cursive;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    margin-top: 3rem;
}

h3 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: 'League Script', cursive;
    letter-spacing: 1px;
    margin-right: 2rem;
    margin-top: 3rem;
    font-size: 1.5rem;
}

ul {
    padding: 0;
    color: white;
}

li {
    font-family: 'Montserrat Alternates', sans-serif;
}
#orderButton {
    display: inline-block;
    padding: 2rem;
    font-family: 'League Script', cursive;
    background-color: black;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border: black solid 3px;
    
}

#orderButton:hover {
    background: #e26f8a;
}

.button {
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.orderSection {
    background-color: black;
    text-align: center;
    padding-bottom: 1rem;
    /* opacity: 75%; */
    
}

.orderSectionHeader {
    padding-top: 1rem;
}
