.choices {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.options {
  flex-basis: 50%;
  margin: 2rem;
  border: 1px dashed dodgerblue;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
  
}

.listItem {
  list-style-type: none;
  text-align: center;
}

.customOrders {
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

